{% extends 'data_assist/diagnose.html' %}

{% block diagnostic_title %}
十二正經：六經與六氣
{% endblock %}

{% block diagnostic_form %}
<form class="p-3 m-3 fs-4"  method="GET"  action="{% url 'channels' %}">
    {% csrf_token %}
    {% include 'data_assist/include/env_preventive.html' %}
    {% include 'data_assist/include/env_treatment.html' %}
    {% include 'data_assist/include/env_knot.html' %}
    <div class="col py-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}

{% block diagnostic_result %}

        {% if prevent %}
        <hr>
            <h2 class="text-success py-3">預防性</h2>
        <div class="container col-lg-5 py-3">
        {% for goal, prescription in prescription_preventive %}
                <h3 class="text-danger py-3">{{ goal }}</h3>
                <div class="row">
                {% for point, logic in prescription %}
                    <ul>
                        <h4 class="py-2 text-info">{{ logic | safe }}</h4>
                        <li>{{ point | safe }}</li>
                    </ul>
                {% endfor %}
                </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if treat %}
        <hr>
        <h2 class="text-success py-3">袪六淫</h2>
        <div class="container col-lg-5 py-3">
        {% for goal, prescription in prescription_treatment %}
            <header class="py-3">
                <h3 class="text-danger">{{ goal }}</h3>
                {% if goal == "袪風" %}
                    <p>
                        <small>* <em>用<a href="/diagnose/extraordinary?target_meridian=TE">陽維脈</a></em></small>
                    </p>
                {% endif %}
            </header>
                <div class="row">
                {% for point, logic in prescription %}
                    <ul>
                        <h4 class="py-2 text-info">{{ logic | safe }}</h4>
                        <li>{{ point | safe }}</li>
                    </ul>
                {% endfor %}
                </div>
        {% endfor %}
        </div>
        {% endif %}


        {% if knot %}
        <hr>
        <h2 class="text-success py-3">根結穴</h2>
        <div class="container col-lg-5 py-3">
        {% for prescription in prescription_knot %}
            <h3 class="text-danger py-3">{{ prescription.0 }}</h3>
            <div class="row">
                <ul>
                {% for point in prescription.1 %}
                <li>{{ point | safe }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
        {% endif %}

{% endblock %}
