{% extends 'data_assist/simple_base.html' %}
{% load static %}

{% block title %}
古典針灸
{% endblock %}

{% block pageheader %}
<div class="container-fluid bg-dark d-flex flex-column min-vh-100 text-center justify-content-center align-items-center bg-light">
    <div class="row my-3 mx-3">
        <img class="center-fit" src="{% static 'images/logo_nobg.png' %}" alt="logo">
    </div>
    <div class="row my-3 mx-3">
      <h1 class="display-4 font-weight-normal">古典針灸資訊系統</h1>
      <h1 class="lead font-weight-normal">Data Assistant for Classical Acupuncture Practitioners</h1>
    </div>
    <a class="btn btn-outline-secondary" href="{% url 'query' %}">Get Started</a>
</div>
{% endblock %}