{% extends 'data_assist/simple_output_base.html' %}
{% load static %}

{% block content %}

<div class="row py-3">
    {% include 'data_assist/include/query-form.html' %}
</div>

<div class="row py-3 mx-2 justify-content-center">
    {% include 'data_assist/include/query-not_found.html' %}

    {% if acupoint %}

        {% if multiple %}
            {% include 'data_assist/include/query-acupoint-multiple.html' %}
        {% endif %}

        {% if found %}
            {% static 'images/acuLoc/' as baseURL %}
            {% include 'data_assist/include/query-acupoint-found.html' %}
        {% endif %}

    {% endif %}


    {% if meridian %}

        {% if multiple %}
            {% include 'data_assist/include/query-meridian-multiple.html' %}
        {% endif %}

        {% if meridian_found %}

            {% static 'images/meridianRoute' as baseURL %}
            {% include 'data_assist/include/query-meridian-found.html' %}

            <div class="row py-3 justify-content-center">
                <div class="col-lg-10 text-wrap">
            {% if extra %}
                {% if not ren_du %}
                    {% include 'data_assist/include/query-extra-meridian-table.html' %}
                {% else %}
                    {% include 'data_assist/include/query-meridian-table.html' %}
                {% endif %}
            {% else %}
                {% include 'data_assist/include/query-meridian-table.html' %}
            {% endif %}
                </div>
            </div>

        {% endif %}

    {% endif %}
</div>

{% endblock %}












