{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <link rel="stylesheet" href="{% static 'css/fit_img.css' %}">
    <!--  <link rel="stylesheet" href="{% static 'css/href_color.css' %}">  -->
    <link rel="stylesheet" href="{% static 'css/mu_shu_color_code.css' %}?{% now "U" %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    <script defer src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script>

    <title>
      古典針灸 | Classical Acupuncture | Acupuncture Classique
    </title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}"/>
  </head>
  <body>
    {% block pageheader %}
    {% endblock %}
    <div class="container bg-dark text-center">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
