{% extends 'data_assist/fieldset.html' %}
{% load static %}

{% block fieldset_title %}
能量分配層
{% endblock %}

{% block fieldset_content %}

<div class="col-lg-10 py-2">
        <div class="row">
            <p class="h3"><a href="{% url 'extraordinary' %}" class="href">奇經八脈</a></p>
        </div>
</div>

{% endblock %}

<!-- What lies outside the block will not be rendered. -->

<!-- radio button -->

        <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="" value="">
            <label class="form-check-label" for="">

            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="" id="" value="">
            <label class="form-check-label" for="">

            </label>
        </div>

<!-- back button -->

<div class="col py-3">
    <button class="btn btn-primary" type="button" onclick="history.back()">Back</button>
</div>

<!-- Dropdown list -->

<select name="" class="form-select py-1" style="font-size:20px;" id="">

    {% for id, zh_name in meridian_list %}
    <option value="{{ organ_id }}">
        {{ zh_name }}（{{ id }}）</option>
    {% endfor %}

</select>