{% extends 'data_assist/fieldset.html' %}
{% load static %}

{% block fieldset_title %}
疾病屬性
{% endblock %}

{% block fieldset_content %}

{% if category %}

<h2 class="text-danger" id="category">{{ category_lbl }}</h2>

<div class="form-check">
    <input class="form-check-input" type="hidden" name="category" id="{{ category }}" value="{{ category }}">
</div>

<div class="col py-3">
    <button class="btn btn-primary" type="button" onclick="history.back()">Back</button>
</div>

{% else %}

<div class="col-lg-5 py-3">

    <div class="form-group row justify-content-center">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="pain" value="pain">
            <label class="form-check-label" for="pain">
            疼痛
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="hemiplegia" value="hemiplegia">
            <label class="form-check-label" for="hemiplegia">
            半身不遂
            </label>
        </div>

    </div>

</div>

{% endif %}

{% endblock %}