{% extends 'data_assist/fieldset.html' %}
{% load static %}

{% block fieldset_title %}
患側與類型
{% endblock %}

{% block fieldset_content %}

<h2 class="text-secondary pt-2">患側</h2>

<div class="col-lg-8 py-3">

    <div class="form-group row justify-content-center">

        <div class="form-check col">
            <input class="form-check-input" type="radio" name="left_right" id="l" value="l">
            <label class="form-check-label" for="l">
            左側
            </label>
        </div>
        <div class="form-check col">
            <input class="form-check-input" type="radio" name="left_right" id="r" value="r">
            <label class="form-check-label" for="r">
            右側
            </label>
        </div>

    </div>

</div>

<hr>

<h2 class="text-secondary pt-2">類型</h2>

<div class="col-lg-8 py-3">

    <div class="form-group row justify-content-center">

        <div class="form-check">
            <input class="form-check-input" type="radio" name="yinyang" id="yin" value="atonic">
            <label class="form-check-label" for="yin">
            鬆弛無力型（偏癱）
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="yinyang" id="yang" value="spastic">
            <label class="form-check-label" for="yang">
            攣縮型（中風）
            </label>
        </div>

    </div>

</div>

{% endblock %}