{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
        <div class="logo-image">
            <img class ="icon img-fluid" style="float: left;" src="{% static 'images/logo_nobg.png' %}" alt="logo">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{% url 'query' %}">Query</a>
          <a class="nav-link" href="{% url 'diagnose' %}">Diagnostics</a>
      </div>
    </div>
  </div>
</nav>

<!-- Highlight active navbar item -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
